*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: red;
    padding: 5px;
}

.m-1{
    margin: 10px;
}
.p-10{
    padding: 25px;
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.colors{
    background-color: greenyellow;
}

.w-full{
    width: 100%;
} 
.h-10{
    height: 50px;
}

.w-30{
    width: 25%;
}
.w-40{
    width: 44%;
}
.border{
    border-radius: 10px;
}
.font{
    font-size: 24px;
    
}
.p-10{
    padding: 10px;
}
.h-20{
    height: 200px;
}
.margin{
    margin-top: 10px;
}
.flex2{
    display: flex;
    
    align-items: center;
    
}